html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  display: flex;
  background: 333;
  min-height: 100vh;
  background: linear-gradient(135deg, #000000 0%, #333 48%, #686868 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}
#video-player {
  width: 420px;
  height: 340px;
  position: relative;
  overflow: hidden;
}
#video-player:hover .player-controls {
  transform: translateY(0);
}
#video-player .video {
  width: 100%;
  height: 100%;
  object-fit: inherit;
}
.player-controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
}
.player-controls .play-button {
  width: 10%;
  font-size: 1.3em;
  background: black;
  border: none;
  color: white;
  padding: 7px;
}
.player-controls .time {
  font-size: 1em;
  color: white;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-controls .time span {
  margin: 3px;
}
