html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  display: flex;
  background: 333;
  min-height: 100vh;
  background: linear-gradient(135deg, #000000 0%, #333 48%, #686868 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}
#video-player {
  width: 420px;
  height: 340px;
}
#video-player .video {
  width: 100%;
  border: 3px solid green;
}
.players-controls {
  border: 1px solid red;
}
.time {
  font-size: 1em;
  color: white;
}
